
    .hodfilter-dropdowns {
        margin-left: 70px;
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        }
        
        .hodfilter-dropdowns label {
        margin-right: 0px;
        margin-top: 5px;
        width: 100px;
        /* display:grid */
        }
        
        .hodfilter-dropdowns select {
        width: 10px;
        }  
    
        .filter-button{
        width: 100px;
        padding: 7px;
        border-radius: 15%;
        margin-top: 0px;
        background-color: rgb(93, 201, 93);
        color: white;
        border: none;
        }